PORT=8080
DATABASE_URL=""
BETTER_AUTH_SECRET=""
API_BASE_URL=""

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

GOOGLE_GENERATIVE_API_KEY=""
OPEN_AI_API_KEY=""
GROQ_API_KEY=""

WEB_APP_BASE_URL="http://localhost:3000"
